<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<form action="#" th:action ="@{/wines/addByUser}" method ="post" th:object="${wine}">
    <div align="center">
        <h1> Edytuj wino</h1>
        <input type="hidden" th:field ="*{id}">
        <div class ="card">
            <div class="card-block">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Ilosc</th>
                        <th>Data ostatniej dostawy </th>
                        <th>Wskaznik rotacji</th>
                        <th>Producent</th>
                    </tr>
                    </thead>
                    <tbody>

                    <td th:text="${wine.name}"></td>
                    <td th:text="${wine.price}"></td>
                    <td>

                        <input type="number" th:field="*{amount}"/>


                    </td>

                    <td th:text="${wine.date_last_delivery}"></td>
                    <td th:text="${wine.monthly}"></td>
                    <td th:text="${wine.producer.name}"></td>

                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" class ="btn btn-info col-2">Zapisz zmiany</button>

    </div>
</form>



</body>
</html>