<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div align="center">
    <h1> Edytuj wino</h1>
    <form action="#" th:action ="@{/wines/add}" method ="post" th:object="${wine}">
        <input type="hidden" th:field ="*{id}">
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <label>Nazwa wina</label>
            <input type="text" th:field="*{name}"
                   class ="form control mb-4 col-4"/><br/>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <label>Cena</label>
            <input type="number" step ="0.01" th:field="*{price}"
                   class ="form control mb-4 col-4"/><br/>
        </div>
        <div class="form-group">
            <label>Ilosc </label>
            <input type="number" th:field="*{amount}"
                   class ="form control mb-4 col-4"/><br/>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <label>Data ostatniej dostawy </label>
            <input type="date" th:field="*{date_last_delivery}"
                   class ="form control mb-4 col-4"/><br/>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <label>Zapotrzebowanie miesieczne</label>
            <input type="number"  th:field="*{monthly}"
                   class ="form control mb-4 col-4"/><br/>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
            <label>Producent </label>
            <select th:field="*{producer}">
                <th:block th:each ="producer : ${producers} ">
                    <option th:text="${producer.name}" th:value="${producer.id}"/>
                </th:block>
            </select>

        </div>
        <button type="submit" class ="btn btn-info col-2">Zapisz zmiany</button>
    </form>
</div>

</body>
</html>